<div class="experto-dashboard">
    <div class="header">
      <h1>Bienvenido, Experto</h1>
      <p>Aquí puedes gestionar las pruebas, gestionar los participantes y ver el listado de las especialidades.</p>
    </div>
  
    <div class="actions">
      <section class="action-card">
        <h2>Gestionar Pruebas</h2>
        <p>Accede a la lista de pruebas y realiza acciones como agregar, editar o eliminar.</p>
      </section>
  
      <section class="action-card">
        <h2>Gestionar Participantes</h2>
        <p>Consulta la lista de participantes y realiza las operaciones necesarias como agregar, editar o eliminar.</p>
      </section>
  
      <section class="action-card">
        <h2>Ver Especialidades</h2>
        <p>Consulta el listado de especialidades disponibles y su información relacionada.</p>
      </section>
    </div>
  </div>
  